<div class="col-md-12">
	<div class="jumbotron">
		<h3 style="width:80%;margin:auto;font-size:6rem; text-align: center;">A new way to build with transparency</h3>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4 lander">
			<img src="https://simpleanalytics.io/images/icon-graph.svg">
			<p>We just show you the essentials: page views, referrers, top pages, and screen sizes</p>
		</div>
		<div class="col-sm-4 lander">
			<img src="https://simpleanalytics.io/images/icon-target.svg">
			<p>We don't use cookies or collect any personal data. So no cookie banners or GDPR to worry about.</p>
		</div>
		<div class="col-sm-4 lander">
			<img src="https://simpleanalytics.io/images/icon-creditcard.svg">
			<p>When a service is free you are the product. We won't ever sell your data. As a result, we need to charge.</p>
		</div>
	</div>

	<div class="row" style="padding-top:80px;">
		<p><%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %></p>
	</div>


</div>


	